%rebase('osnova.html', naslov='Pohodi', stran='pohodi')

<div >
 % if flash_msg:
  <div class="alert alert-success" role="alert">
    {{flash_msg}}
  </div>
  % end
  % if uporabnisko_ime:
    <p>Prijavljeni ste kot: <strong>{{uporabnisko_ime}}</strong></p>
  % else:
    <p><a href="{{url('/odjava')}}">Prijava</a> | <a href="{{url('/registracija')}}">Registracija</a></p>
  % end
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Seznam vseh pohodov</h2>
    % if rola == 'admin':
    <a href="{{url('/vse_prijave')}}" class="btn btn-light">Vse prijave</a>
    % end
  </div>

    % if rola == 'admin':
    <a  href="{{url('/dodaj_pohod')}}" class="btn btn-light">
      Dodaj nov pohod
    </a>
    % end
    <a  href="{{url('/nove_poti')}}" class="btn btn-light">
      Poti
    </a>
       <br>
      <br>  
    <div style="display: flex;">

    <div style="flex:1;">
      <table class="table">
        <thead>
            <tr>
                
                <th>Ime poti</th>
                <th>Datum začetka</th>
                <th>Datum konca</th>
                <th>Zahtevnost</th>  
                <th>Začetna lokacija</th>  
                <th>Trajanje (h)</th>
                <th>Višinska razlika (m)</th>
                <th>Poletna Oprema</th> 
                <th>Zimska Oprema</th>
                <th>Prijava</th>
             </tr>
        </thead>
     
         <!-- SELECT p.id, r.ime, p.datum_zacetka, p.datum_konca, r.zacetna_lokacija, r.zahtevnost, 
                r.trajanje_ur, r.visinska_razlika_m, r.opis, r.lokacija
                FROM pohodi2 p
                left join poti r on p.pot = r.id
                Order by p.datum_zacetka desc  -->

      %for pohod in pohodi:
        <tr>
           <td>{{pohod.ime}}</td>
           <td>{{pohod.datum_zacetka}}</td>
           <td>{{pohod.datum_konca}}</td>
           <td>{{pohod.zahtevnost}}</td>
           <td>{{pohod.zacetna_lokacija}}</td>
           <td>{{pohod.trajanje_ur}}</td>
           <td>{{pohod.visinska_razlika_m}}</td>
           <td>{{pohod.opis}}</td>
           <td>{{pohod.lokacija}}</td>
           % if rola == 'admin':
           <td>
            <a href="{{url('uredi_pohod', id=pohod.id)}}"> Uredi</a>
           </td>
           % end
           <td>
              <form action="{{url('prijava_na_pohod')}}" method="post">
                <input type="hidden" name="pohod_id" value="{{pohod.id}}">
                <button type="submit" class="btn btn-primary btn-sm">Prijavi se</button>
              </form>
            </td>
        </tr>
      %end
      </table>



    </div>    

    </div>
   
</div>


  

  