%rebase('osnova.html', naslov='Pohodi', stran='pohodi')

<div >
  <h2>Seznam vseh pohodov</h2>
    <a  href="{{url('/dodaj_pohod')}}" class="btn btn-light">
        Dodaj novo pot
     </a>
       <br>
      <br>  
    <div style="display: flex;">

    <div style="flex:1;">
      <table class="table">
        <thead>
            <tr>
                
                <th>Ime poti</th>
                <th>Zahtevnost</th>  
                <th>Začetna lokacija</th>  
                <th>Trajanje</th>
                <th>Višinska razlika</th>
                <th>Opis</th>
                <th>Lokacija</th>   
             </tr>
        </thead>
     
      %for pohod in pohodi:
        <tr>
           <td>{{pohod.datum_zacetka}}</td>
           <td>
            <a href="{{url('uredi_pohod', id=pohod.id)}}"> Uredi</a>
           </td>
     
        </tr>
      %end
      </table>



    </div>    

    </div>
   
</div>


  

  