%rebase('osnova.html', naslov='Urejanje pohoda', stran='uredi_pohod')



  <form action="{{url('/uredi_pohod')}}" method="POST" style="width: 60%; margin-left: 5%;">
    <input type="hidden" name="id" value="{{pohod.id}}">
    <div class="form-group">

        <label for="pot">Pot</label>
        <input type="text" class="form-control" disabled="true" name="pot" id="pot" value="{{pohod.ime}}">  
        <!-- dokončaj pa še zahtevnost trajanje... -->
     </div>
    <div class="form-group">
      <label for="datum_zacetka">Datum začetka</label>
      <input type="date" class="form-control" name="datum_zacetka" id="datum_zacetka" value="{{pohod.datum_zacetka.strftime('%Y-%m-%d')}}">
    </div>
    <div class="form-group">
      <label for="datum_konca">Datum konca</label>
      <input type="date" class="form-control" name="datum_konca" id="datum_konca" value="{{pohod.datum_konca.strftime('%Y-%m-%d')}}">
    </div>
    
    <button type="submit" class="btn btn-primary">Posodobi pohod</button>
  </form>